/* @author kerbrose
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */


@font-face {
	font-family: 'Droid';
	src: url('/construction/static/src/fonts/droidnaskh.ttf');
} 


body {
	font-family: "Droid", "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
}
